<div class="login">
  <h2>Login</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
          <label for="username">Username</label>
          <input
        class="form-control" id="username"
        type="text"
        name="username"
        ngModel
        required
        placeholder="Username"
        >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
        class="form-control" id="password"
        type="password"
        name="password"
        ngModel
        required
        placeholder="Password"
        >
          </div>
          <button type="submit" class="btn btn-default btn-primary">Submit</button>
  </form>
</div>
